<br>
<p>{{'modo actual ' + currentMode}}</p>
<button (click)="openEstandar()">Estandar</button>
<button (click)="openDelay()">Delay</button>
<button (click)="openDisabled()">Desactivado</button>


<div *ngIf="showEstandar" macaClickOutside (clickOutside)="clickOutside($event)" class="block">
  <p>Click outside this div</p>
</div>

<div *ngIf="showDelay" macaClickOutside [clickOutsideDelay]="1000" (clickOutside)="clickOutside($event)" class="block">
  <p>Click outside this div</p>
</div>

<div *ngIf="showDisabled" macaClickOutside [clickOutsideEnabled]="false" (clickOutside)="clickOutside($event)" class="block">
  <p>Click outside this div</p>
</div>